.styled-datepicker .calendar__cell {
  height: 32px;
  width: 32px;
  max-height: 32px;
  max-width: 32px;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  text-align: center;
  border-radius: 0.5rem /* 8px */;
}
.styled-datepicker .calendar__cell[data-is-range-selection] {
  --tw-bg-opacity: 1;
  background-color: rgb(219 234 254 / var(--tw-bg-opacity));
  border-radius: 0px;
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}
.styled-datepicker .calendar__cell[data-is-selection-start] {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
  border-top-left-radius: 0.5rem /* 8px */;
  border-bottom-left-radius: 0.5rem /* 8px */;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.styled-datepicker .calendar__cell[data-is-selection-end] {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
  border-top-right-radius: 0.5rem /* 8px */;
  border-bottom-right-radius: 0.5rem /* 8px */;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.styled-datepicker .calendar__cell[data-is-range-selection]:focus-within {
  --tw-bg-opacity: 1;
  background-color: rgb(96 165 250 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.styled-datepicker .calendar__cell:focus-within {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.styled-datepicker.calendar [data-weekend] {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity));
}

.styled-datepicker.calendar [aria-selected="true"] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}

.styled-datepicker.calendar [aria-selected]:focus-within {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.styled-datepicker.calendar [aria-selected="true"]:focus-within {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(96 165 250 / var(--tw-bg-opacity));
}

.styled-datepicker.calendar [aria-disabled="true"] {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.styled-datepicker.calendar span {
  outline: none;
}

.datepicker__dash:before {
  content: "-";
}
