.datepicker__trigger {
  display: flex;
  padding: 5px;
  margin-left: 10px;
  background-color: #f8f8f8;
}

.datepicker__trigger svg {
  fill: #43424d;
  width: 20px;
}

.datepicker__header {
  padding: 0;
  border-radius: 4px;
  width: fit-content;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.datepicker__header:focus-within {
  border: 1px solid #1e65fd;
}

.datepicker__field {
  font-family: monospace;
  display: flex;
}

.datepicker__field--item {
  padding: 2px;
  border-radius: 4px;
}
.datepicker__field--item:focus {
  background-color: #1e65fd;
  color: white;
  outline: none;
}
