button {
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  margin: 0;
}

.calendar {
  width: 400px;
}

.calender__table {
  width: inherit;
}

.calender__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.calender__header--buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calender__table--header__weeks {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.calender__table--cell,
.calender__table--cell--empty {
  margin: 2px;
  border-radius: 4px;
  background-color: rgb(240, 240, 240);
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.calender__table--cell {
  transition: 0.2s;
}

.calender__table--cell[aria-selected="true"] {
  background-color: rgba(50, 54, 241);
  color: white;
}

.calender__table--cell[data-selected="true"] {
  background-color: rgba(241, 63, 50);
  color: white;
}

.calender__table--cell[aria-selected="true"][data-selected="true"] {
  transform: scale(1.1);
  color: white;
}

[data-weekend="true"] {
  color: rgb(245, 51, 90);
}

[aria-disabled="true"] {
  color: rgb(160, 158, 158) !important;
}
