/*  CSS Styles from https://css-tricks.com/html5-meter-element/ */

.meter {
  position: relative;
  width: 500px;
  height: 1rem;
  background: whiteSmoke;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: 0 5px 5px -5px #333 inset;
  overflow: hidden;
}

.meterbar {
  height: 100%;
}
