.calendar {
  max-width: 320px;
  position: relative;
}

.calendar .header {
  cursor: default;
  background-color: #fbfbff;
  padding: 7px;
  font-weight: bold;
  text-transform: uppercase;
  color: #676d7e;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.calendar h2 {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: 1em;
  color: #676d7e;
  text-transform: none;
  font-weight: bold;
}

.calendar button {
  border-style: none;
  background: transparent;
}

.calendar button::-moz-focus-inner {
  border: 0;
}

.calendar .prev-year,
.calendar .prev-month,
.calendar .next-month,
.calendar .next-year {
  padding: 4px;
  width: 24px;
  height: 24px;
  color: #676d7e;
}

.calendar .prev-year:focus,
.calendar .prev-month:focus,
.calendar .next-month:focus,
.calendar .next-year:focus {
  padding: 2px;
  border: 2px solid #676d7e;
  border-radius: 4px;
  outline: 0;
}

.calendar .prev-year:hover,
.calendar .prev-month:hover,
.calendar .next-month:hover,
.calendar .next-year:hover {
  padding: 3px;
  border: 1px solid #676d7e;
  border-radius: 4px;
  outline: 0;
}

.calendar .month-year {
  display: inline-block;
  width: 12em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar .dates {
  width: 320px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  background-color: #fbfbff;
}

.calendar .dates th,
.calendar .dates td {
  text-align: center;
}

.calendar .dates tr {
  border: 1px solid black;
}

.calendar .dates td {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  font-size: 15px;
}

.calendar .dates td span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  user-select: none;
}

.calendar .dates td[aria-selected] span {
  border-radius: 50%;
  border: 2px dotted black;
  background-color: #fbfbff;
}

.calendar .dates td span:focus {
  background-color: #5f91ff;
  color: white;
}

.calendar .dates td span:hover {
  background-color: #dae7fb;
  color: black;
}

.calendar .dates td span:not(.disabled):hover {
  border-radius: 50%;
  border: 1px solid #4c4a69;
}

.calendar .dates td span:focus {
  border-radius: 50%;
  border: 2px solid #4c4a69;
  outline: 0;
}

.calendar [aria-disabled="true"] {
  color: #959595;
}
.calendar [data-weekend] {
  color: #fa3131;
}
