.chakra-styled {
  position: relative;
  width: 400px;
  font-family: Inter;
}

.chakra-styled .slider-label {
  display: flex;
  align-self: stretch;
  margin-bottom: 0.5rem;
}

.chakra-styled .label {
  color: #222222;
}

.chakra-styled .value {
  color: #222222;
  margin-left: auto;
}

.chakra-styled .slider {
  display: inline-block;
  width: 100%;
  height: 4px;
  padding-top: 7px;
  padding-bottom: 7px;
  cursor: pointer;
  touch-action: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  outline: 0px;
}

.chakra-styled .slider.vertical {
  height: 400px;
  width: 4px;
  padding-left: 7px;
  padding-right: 7px;
}

.chakra-styled .slider-track {
  position: absolute;
  top: 50%;
  width: inherit;
  height: inherit;
  background: rgb(226, 232, 240);
  transform: translateY(-50%);
  border-radius: 0.125rem;
}

.chakra-styled .vertical .slider-track {
  top: 0;
  transform: translateX(-50%);
}

.chakra-styled .slider-filled-track {
  position: absolute;
  height: inherit;
  background: rgb(49, 130, 206);
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0.125rem;
}

.chakra-styled .vertical .slider-filled-track {
  width: inherit;
  top: unset;
  bottom: 0;
  transform: translateX(-50%);
}

.chakra-styled .slider-thumb {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.2s ease 0s;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  border-radius: 9999px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  user-select: none;
  touch-action: none;
}

.chakra-styled .vertical .slider-thumb {
  top: unset;
  transform: translateX(-50%);
}

.chakra-styled .slider-thumb:focus-within {
  box-shadow: 0 0 0 2px #2c83eb;
}
