.content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content {
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
  opacity: 0;
  transform: translate3d(0, -100%, 0);
}

.content[data-enter] {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.content[data-leave] {
  transform: translate3d(0, 100%, 0);
}
