.content {
  flex-direction: column;
  overflow: hidden;
}

.content[data-enter] {
  animation: slideDown 300ms ease-out;
}

.content[data-leave] {
  animation: slideUp 300ms ease-in;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--content-height);
  }
  to {
    height: 0;
  }
}
