.root {
  display: flex;
  width: 100%;
}
.content {
  display: flex;
  flex-direction: row;
  /* opacity: 0; */
}

.content {
  transform-origin: top center;
}

.content[data-enter] {
  /* opacity: 1; */
  animation: fadedIn 500ms ease-in-out;
}

.content[data-leave] {
  animation: fadedOut 500ms ease-in-out;
}

@keyframes fadedIn {
  from {
    opacity: 0;
    transform: translate(-10px, 0);
  }

  to {
    opacity: 1;
    transform: translate(0, 0px);
  }
}

@keyframes fadedOut {
  from {
    opacity: 1;
    transform: translate(0, 0px);
  }

  to {
    opacity: 0;
    transform: translate(-10px, 0);
  }
}
