.content {
  background-color: rgba(33, 33, 33, 0.9);
  color: white;
  padding: 8px;
  border-radius: 4px;
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
  opacity: 0;
  transform-origin: top center;
  transform: translate3d(0, -20px, 0);
}

.content[data-enter] {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
