* {
  box-sizing: border-box;
}

.datefield {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.datefield__label {
  display: inline-flex;
  margin-bottom: 0.5rem;
}

.datefield__field {
  display: inline-flex;
  padding: 2px 4px;
  border-radius: 2px;
  border: 1px solid #6f6f6f;
  background: #fff;
}

.datefield__field--item {
  padding: 0 2px;
  border-radius: 4px;
  font-variant-numeric: tabular-nums;
  text-align: end;
}

.datefield__field--item.placeholder {
  color: #767676;
}

.datefield__field--item:focus {
  background-color: #1e65fd;
  outline: none;
  color: white;
}
