* {
  box-sizing: border-box;
}

.datepicker__field {
  font-family: monospace;
  display: flex;
}

.datepicker__field--item {
  padding: 2px;
  border-radius: 4px;
}

.datepicker__field--item:focus {
  background-color: #1e65fd;
  color: white;
  outline: none;
}
