.progress {
  background: rgb(237, 242, 247);
  height: 0.5rem;
  width: 400px;
  overflow: hidden;
  position: relative;
}

.progressbar {
  background-color: #3182ce;
  height: 100%;
  transition: all 0.3s;
}

.progressbar.indeterminate {
  position: absolute;
  will-change: left;
  min-width: 50%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    transparent 0%,
    #3182ce 50%,
    transparent 100%
  );
  animation: progressAnim 1s ease infinite normal none running;
}

@keyframes progressAnim {
  from {
    left: -40%;
  }

  to {
    left: 100%;
  }
}
