@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer components {
  .calendar__cell {
    height: 32px;
    width: 32px;
    max-height: 32px;
    max-width: 32px;
    @apply text-center rounded-lg text-sm;
  }
  .calendar__cell[data-is-range-selection] {
    @apply bg-blue-100 rounded-none text-gray-800 !important;
  }
  .calendar__cell[data-is-selection-start] {
    @apply bg-blue-500 rounded-l-lg text-white !important;
  }
  .calendar__cell[data-is-selection-end] {
    @apply bg-blue-500 rounded-r-lg text-white !important;
  }

  .calendar__cell[data-is-range-selection]:focus-within {
    @apply bg-blue-400 text-white !important;
  }
  .calendar__cell:focus-within {
    @apply bg-gray-100;
  }

  .calendar [data-weekend] {
    @apply text-red-600;
  }
  .calendar [aria-selected="true"] {
    @apply bg-blue-400 text-white;
  }
  .calendar [aria-disabled="true"] {
    @apply text-gray-500;
  }
  .calendar span {
    outline: none;
  }
}
